body,
.locations {
  font-family: Helvetica;
  font-size: 22px;
  color: Seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

/* HEADER Section */

header {
  height: 69px;
  border-bottom: 1px solid Seashell;
  background-color: black;

  width: 100%;
  white-space: nowrap;

  display: block;
  position: fixed;
  z-index: 5;

  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.nav-bar a {
  color: Seashell;
  padding-left: 20px;
}

.nav-bar {
  padding-right: 10px;
}

.logo img {
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

/* BODY Section */

.body-container {
  display: block;
  position: absolute;
  top: 70px;
  left: 0;  /* Centering .body-container */
  right: 0;
  z-index: 1;

  display: flex;
  flex-flow: column;
  align-items: center;
}

.our-mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin-bottom: 50px;
  text-align: center;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.our-mission h2,
.our-mission h4 {
  margin-bottom: 0;    /* Removing gap and text vertical centering */
  margin-top: 0;       /* Removing gap and text vertical centering */
  padding: 10px;
  background-color: black;
}

.tea-of-month.upper h2 {
  text-align: center;
  margin-bottom: -10px;
}

.tea-of-month.upper h4 {
  text-align: center;
  margin-bottom: 25px;
}

.tea-of-month.bottom {
  width: 1000px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea-of-month.one,
.tea-of-month.two,
.tea-of-month.three,
.tea-of-month.four,
.tea-of-month.five {
  display: flex;
  flex-flow: column;
  padding-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.tea-pic {
  width: 300px;
  height: 200px;
  padding-bottom: 10px;
}

.locations {
  background-image: url("../images/img-locations-background.jpg");
  background-size: cover;
  width: 1200px;
  height: 500px;
  text-align: center;
  position: relative;  /* Need to declare to position properly 'Locations' text later */

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.locations-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-box,
.center-box,
.right-box {
  width: 300px;
  height: auto;
  text-align: center;

  background: black;
  opacity: 1;
  margin: 20px;

  display: flex;
  align-items: center;
}

.locations h4 {
  font-weight: normal;
}

.locations-text {
  font-weight: bold;
  position: absolute;
  top: 28px;      /* 68px sits right on top of black box so 53px would be */
  right: 522px;   /* required 15px above, but 40px above just looks better */

}

/* FOOTER Section */

.footer-center-text {
 height: 200px;
 text-align: center;
}

.footer-bottom-left-text {
  margin-left: 20px;
  align-self: left;
}
